:root{
    --dark: #1A1A1A;
    --black: #333333;
    --orange: #F38200;
    --lightorange: #FFB522;
    --white: #EEF9EC;
    --darkop: rgba(26, 26, 26, 0.60);
    --darkerop: rgba(26, 26, 26, 0.80);
    --blackop: rgba(51, 51, 51, 0.90);

    /* --judson: 'Judson', serif; */
    --secondaryFont: 'Fredoka', sans-serif;
    --primaryFont: 'Quando', serif;
}